<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>

<body>
    <h2>Change Password</h2>
    <!-- we will add confirm password, if it is required for the time being its ok -->
    <form action="/change-password/<%= locals.userId ?? locals.error.userId %>/<%= locals.token ?? locals.error.token%>" method="post">
        <input type="password" name="password" class="change-password" placeholder="Change Password" value="<%= locals.error?.formData?.password %>">
        <input type="submit" value="Update Password">
    </form>
    <% if (locals.error) { %>
    <span><%= locals.error.message %></span>
    <% } %>

</body>

</html>