<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <!-- a navbar -->
    <h2>Logiclinks | Dashboard</h2>
    <span><%= locals.fullName %></span>
    <span><%= locals.email %></span>
    <a href="/create">Create New</a>
    <div>
        <a href="/change-password">Change Password</a>
    </div>
</body>

</html>