<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
</head>

<body>
    <h2>Reset Password</h2>
    <form action="/reset-password" method="post">
        <input type="email" name="email" placeholder="Email" value="<%= locals.error?.formData?.email %>">
        <input type="submit" value="Reset Password">
    </form>
    <a href="/login">Login</a>
    <% if (locals.error) { %>
    <span><%= locals.error.message %></span>
    <% } %>

    <% if (locals.message) { %>
    <span><%= locals.message %></span>
    <% } %>
</body>

</html>